<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://celtaprueba.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>celtaprueba.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>celtaprueba</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$celtaprueba</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ContextBDCelta" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ekgiet2alo.database.windows.net,1433;Initial Catalog=softwareCelta;Integrated Security=False;User ID=softwareCelta@ekgiet2alo;Password=celta2016*;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SoftwareCelta.DAL.ContextBDCelta, SoftwareCelta" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ContextBDSoftland" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:ekgiet2alo.database.windows.net,1433;Initial Catalog=softwareCelta;Integrated Security=False;User ID=softwareCelta@ekgiet2alo;Password=celta2016*;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SoftwareCelta.DAL.ContextBDSoftland, SoftwareCelta" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ContextBDCelta-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ekgiet2alo.database.windows.net,1433;Initial Catalog=softwareCelta;Integrated Security=False;User ID=softwareCelta@ekgiet2alo;Password=celta2016*;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ContextBDSoftland-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ekgiet2alo.database.windows.net,1433;Initial Catalog=softwareCelta;Integrated Security=False;User ID=softwareCelta@ekgiet2alo;Password=celta2016*;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ContextBDSoftland" />
  </ItemGroup>
</Project>