@model SoftwareCelta.Models.dw_tipoDocumento

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro que desea eliminar?</h3>
<div>
    <h4>Tipo de documento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreTipoDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreTipoDocumento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Atras", "Index")
        </div>
    }
</div>
