@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Software-Celta</h1>
    <p class="lead">Bienvenido Usuario :</p>    
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            //htmlAttributes: new { class = "control-label col-md-2", style="text-align:left !important;" }
        });
    </script>
}